body{
    background-image: url('assets/pexels-mont-photographs-2948636.jpg');
    background-size: cover;
    background-repeat: no-repeat;
   
}
.center-div{
    padding-top: 10%;
}

.btn.btn-success{
    padding: .4em 2em;
}
#login .title >span{
    font-size: 0.8em;
}